/05a_Egyszamjatek/nbproject/private/
/05a_Egyszamjatek/dist/
/05a_Egyszamjatek/build/
/EgyszamjatekGUI/nbproject/private/
/05b_EgyszamjatekGUI/nbproject/private/
/05b_EgyszamjatekGUI/dist/
/05b_EgyszamjatekGUI/build/